@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: black;
  color: white;
}

#login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hunter-logo {
  height: 400px;
  margin-bottom: 50px;
  user-select: none;
}

.blue-square {
  height: 30px;
  margin: 0 10px 5px 10px;
  box-shadow: 2px 2px 25px blue;
}

.blue-square:hover {
  box-shadow: 2px 2px 10px blue;
}

.form-container {
  width: 30%;
}

.form-label {
  color: red;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.3rem;
  user-select: none;
}

.form-button {
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  height: 45px;
  width: 25%;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 198);
  border: none;
  transition: ease 0.5s;
  user-select: none;
}

.form-button:hover {
  background-color: blue;
  /* background-color: rgb(49, 49, 255); */
}